# Miscellaneous
*.class
*.log
*.pyc
*.swp

# IntelliJ IDEA
*.iml
*.idea/

# Dart/Flutter
android/
build/
.pub/
.dart_tool/
.metadata
.packages
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock
analysis_options.yaml

# temp каталог, находящийся в корне проекта, исключен из git
temp/